@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: black;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* font-family: 'Patrick Hand', cursive;*/
/* font-family: 'Inter',sans-serif;*/
/* font-family: 'Poppins',sans-serif;*/
/* font-family: 'Roboto',sans-serif;*/
.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper__center {
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin: 36px 0px 60px 80px;
}
@media screen and (max-width: 1050px) {
  .header__logo {
    width: 75px;
    height: 55px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
@media screen and (max-width: 1050px) {
  .header__menu {
    display: none;
  }
}
.header__menuitem {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(8, 18, 71, 0.7);
  margin-right: 24px;
}
.header__menudivider {
  margin-left: 5px;
  height: 45%;
  background-color: rgba(8, 18, 71, 0.7);
  width: 2px;
}
.header__menubutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  width: 131px;
  height: 44px;
  border: 1px solid rgba(8, 18, 71, 0.7);
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(8, 18, 71, 0.7);
}
.header__button {
  display: none;
}
@media screen and (max-width: 1050px) {
  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
  }
}

.footer {
  background: #F2F2F4;
}
.footer__firstrow {
  display: flex;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
  gap: 15px;
  padding-top: 32px;
  padding-right: 73px;
}
.footer__menu {
  display: flex;
  gap: 40px;
  padding-top: 42.5px;
  padding-left: 78.5px;
}
.footer__menuitem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #010932;
}
.footer__secondrow {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.footer__column2 {
  margin-right: 200px;
}
.footer__column3 {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  padding-right: 80px;
  margin-bottom: 16px;
}

.home__screen1 {
  background: url(./img/screen1dark.jpg);
  background-size: cover;
}
.home__screen1content {
  display: flex;
  top: 0px;
  left: 0px;
}
@media screen and (max-width: 1050px) {
  .home__screen1content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.home__screen1contentleftside {
  margin-top: 117px;
  margin-left: 80px;
  margin-bottom: 117px;
}
@media screen and (max-width: 1050px) {
  .home__screen1contentleftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    margin-top: 0px;
  }
}
.home__screen1contentrightside {
  margin: 55px 6.6% 55px 38px;
}
@media screen and (max-width: 1050px) {
  .home__screen1contentrightside {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
.home__screen1contentrightside img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 1050px) {
  .home__screen1contentrightside img {
    max-width: 221px;
  }
}
.home__screen1contenttitle {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #FFFFFF;
}
@media screen and (max-width: 1050px) {
  .home__screen1contenttitle {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}
.home__screen1contenttext {
  margin-top: 42px;
  max-width: 778px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (max-width: 1050px) {
  .home__screen1contenttext {
    font-weight: 600;
    font-size: 12px;
    line-height: 182.52%;
    text-align: center;
    color: #FFFFFF;
    max-width: 350px;
    margin-top: 8px;
  }
}
.home__screen1buttons {
  margin-top: 48px;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1050px) {
  .home__screen1buttons {
    margin-top: 18px;
  }
}
.home__screen1button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 182.52%;
  color: #010932;
}
@media screen and (max-width: 1050px) {
  .home__screen1button1arrow {
    width: 9px;
    height: 10px;
  }
}
@media screen and (max-width: 1050px) {
  .home__screen1button1 {
    width: 147px;
    height: 38px;
    font-weight: 600;
    font-size: 12px;
    line-height: 182.52%;
    color: #010932;
  }
}
.home__screen1button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 62px;
  left: 361px;
  top: 512px;
  border: 1px solid #FFFFFF;
  border-radius: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (max-width: 1050px) {
  .home__screen1button2 {
    width: 147px;
    height: 38px;
    font-weight: 600;
    font-size: 12px;
    line-height: 182.52%;
    color: #FFFFFF;
  }
}
.home__screen2 {
  margin-left: 92px;
  margin-right: 57px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1050px) {
  .home__screen2 {
    align-items: center;
    mask-repeat: 20px;
  }
}
.home__screen2title {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
  margin-top: 32px;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .home__screen2title {
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
  }
}
.home__screen2text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 182.52%;
  text-align: center;
  color: rgba(1, 9, 50, 0.85);
  max-width: 1300px;
}
@media screen and (max-width: 1050px) {
  .home__screen2text {
    font-weight: 500;
    font-size: 14px;
    line-height: 182.52%;
    text-align: center;
    max-width: 352px;
    margin-top: 16px;
  }
}
.home__screen2photos {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1050px) {
  .home__screen2photos {
    width: 342px;
  }
}
.home__screen3 {
  margin-left: 92px;
  margin-right: 57px;
  margin-top: 168px;
}
@media screen and (max-width: 1050px) {
  .home__screen3 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.home__screen3title {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .home__screen3title {
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #010932;
  }
}
.home__screen3content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 42px;
  margin-top: 75px;
}
@media screen and (max-width: 1050px) {
  .home__screen3content {
    max-width: 288px;
    margin-top: 24px;
    gap: 24px;
  }
}
.home__screen3rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__screen3text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 182.52%;
  color: rgba(1, 9, 50, 0.85);
  max-width: 554px;
}
@media screen and (max-width: 1050px) {
  .home__screen3text {
    font-weight: 500;
    font-size: 14px;
    line-height: 182.52%;
    text-align: center;
  }
}
.home__screen3button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background: #010932;
  border: 1px solid #010932;
  border-radius: 31px;
  width: 193px;
  height: 62px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (max-width: 1050px) {
  .home__screen3button {
    width: 147.1px;
    height: 38px;
    font-weight: 600;
    font-size: 12px;
    line-height: 182.52%;
    margin-top: 25px;
  }
}
.home__screen4 {
  margin-left: 92px;
  margin-right: 57px;
  margin-top: 168px;
}
@media screen and (max-width: 1050px) {
  .home__screen4 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home__screen4title {
  text-align: center;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
}
@media screen and (max-width: 1050px) {
  .home__screen4title {
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
  }
}
.home__screen4content {
  display: flex;
  justify-content: center;
  gap: 82px;
  margin-top: 90px;
}
@media screen and (max-width: 1050px) {
  .home__screen4content {
    flex-direction: column-reverse;
    max-width: 342px;
    gap: 24px;
    margin-top: 24px;
  }
}
.home__screen4leftside {
  max-width: 555px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 182.52%;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (max-width: 1050px) {
  .home__screen4leftside {
    font-weight: 500;
    font-size: 14px;
    line-height: 182.52%;
    text-align: center;
  }
}
.home__screen4leftsidedivider {
  width: 60px;
  height: 3px;
  background-color: #010932;
  margin: 52px 0px;
}
@media screen and (max-width: 1050px) {
  .home__screen4leftsidedivider {
    display: none;
  }
}
.home__screen5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 312px;
  background: url(./img/screen5bcg.jpg);
  background-size: cover;
}
@media screen and (max-width: 1050px) {
  .home__screen5 {
    background: none;
    background-color: rgba(1, 9, 50, 0.03);
    margin-top: 60px;
  }
}
.home__screen5title {
  text-align: center;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
  margin-top: 48px;
  max-width: 645px;
}
@media screen and (max-width: 1050px) {
  .home__screen5title {
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    max-width: 332px;
    text-align: start;
    padding-left: 10px;
  }
}
.home__screen5content {
  margin-top: 66px;
  margin-bottom: 90px;
  display: flex;
  column-gap: 60px;
}
@media screen and (max-width: 1050px) {
  .home__screen5content {
    margin-top: 24px;
    max-width: 342px;
    flex-direction: column;
    margin-bottom: 18px;
  }
}
.home__screen5contentrightside {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home__screen5text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 182.52%;
  color: rgba(1, 9, 50, 0.85);
  max-width: 600px;
}
@media screen and (max-width: 1050px) {
  .home__screen5text {
    font-weight: 500;
    font-size: 12px;
    line-height: 182.52%;
    margin-top: 24px;
  }
}
@media screen and (max-width: 1050px) {
  .home__screen5elems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 127px;
    column-gap: 30px;
  }
}
.home__screen5elem {
  margin-top: 24px;
  display: flex;
  column-gap: 24px;
}
@media screen and (max-width: 1050px) {
  .home__screen5elem img {
    width: 28px;
    height: 28px;
  }
}
.home__screen5elemtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 182.52%;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (max-width: 1050px) {
  .home__screen5elemtext {
    font-weight: 700;
    font-size: 14px;
    line-height: 182.52%;
  }
}
.home__screen6title {
  margin-top: 175px;
  text-align: center;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
}
.home__screen6content {
  margin-top: 97px;
  margin-left: 90px;
  margin-right: 98px;
  border: 2px solid rgba(1, 9, 50, 0.4);
  border-radius: 15px;
}
.home__screen6mainimg {
  position: relative;
}
.home__screen6mainimgtext {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: white;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 162px;
  color: #FFFFFF;
}
.home__screen6subimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 40px;
  gap: 40px;
}
.home__screen6subimg {
  position: relative;
}
.home__screen6subimgtext {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}
.home__screen7title {
  margin-top: 175px;
  text-align: center;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
}
.home__screen7content {
  margin-top: 97px;
  margin-left: 90px;
  margin-right: 98px;
  border: 2px solid rgba(1, 9, 50, 0.4);
  border-radius: 15px;
}
.home__screen7mainimg {
  position: relative;
}
.home__screen7mainimgtext {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: white;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 162px;
  color: #FFFFFF;
}
.home__screen7subimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 40px;
  gap: 40px;
}
.home__screen7subimg {
  position: relative;
}
.home__screen7subimgtext {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}
.home__screen8 {
  background-color: rgba(1, 9, 50, 0.03);
  margin-top: 160px;
  display: flex;
  column-gap: 38px;
}
.home__screen8content {
  padding: 80px;
}
.home__screen8rightside {
  max-width: 590px;
}
.home__screen8title {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #010932;
}
.home__screen8text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 182.52%;
  color: rgba(1, 9, 50, 0.85);
}
.home__screen8button {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 62px;
  background: #010932;
  border-radius: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 182.52%;
  color: #FFFFFF;
}
