.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 8px;
}

p {
  color: orange;
}

.button {
  margin-top: 25px;
  padding: 12px;
  width: 100%;
  background-color: orange;
  color: rgb(255, 255, 255);

}