@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: black;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* font-family: 'Patrick Hand', cursive;*/
/* font-family: 'Inter',sans-serif;*/
/* font-family: 'Poppins',sans-serif;*/
/* font-family: 'Roboto',sans-serif;*/
body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.openedmenu {
  position: fixed;
  right: 0px;
  background: linear-gradient(180deg, #000000 0%, rgba(8, 18, 71, 0.7) 100%);
  width: 315px;
  height: 100vh;
}
.openedmenu__button {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
  margin: 36px 25px 40px 0px;
}
.openedmenu__buttontext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.openedmenu__item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 16px 24px;
  width: 266px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.openedmenu__itemtext {
  padding-left: 24px;
}
.openedmenu__item_selected {
  background-color: #fff;
  color: #010932;
  font-weight: 600;
}

.display-none {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen1 {
  width: 100%;
  background-image: url(./images/home-bgimg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1041px) {
  .screen1 {
    flex-direction: row;
    justify-content: space-between;
  }
}
.screen1__leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1041px) {
  .screen1__leftside {
    align-items: flex-start;
    margin: 117px 10px 117px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .screen1__leftside {
    align-items: flex-start;
    margin: 117px 30px 117px 80px;
  }
}
.screen1__title {
  text-align: center;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 16px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 8px;
}
@media screen and (min-width: 1041px) {
  .screen1__title {
    text-align: left;
    align-items: flex-start;
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1041px) {
  .screen1__smallimg {
    display: none;
  }
}
.screen1__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 182.52%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 3px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 1041px) {
  .screen1__text {
    margin-top: 42px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 182.52%;
    color: #FFFFFF;
    max-width: 800px;
  }
}
.screen1__buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 18px 24px 33px 24px;
}
@media screen and (min-width: 1041px) {
  .screen1__buttons {
    column-gap: 40px;
    margin-top: 48px;
  }
}
.screen1__buttonsleft {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 182.52%;
  color: #010932;
  width: 147.1px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 31px;
  column-gap: 8%;
}
@media screen and (min-width: 1041px) {
  .screen1__buttonsleft {
    width: 240px;
    height: 62px;
    font-size: 18px;
  }
}
.screen1__buttonsright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147.1px;
  height: 38px;
  border: 1px solid #FFFFFF;
  border-radius: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (min-width: 1041px) {
  .screen1__buttonsright {
    width: 193px;
    height: 62px;
    font-size: 18px;
    color: #FFFFFF;
  }
}
.screen1__bigimg {
  margin: 32px 70px 24px 0px;
  width: 470px;
  max-height: 470px;
}
@media screen and (max-width: 1040px) {
  .screen1__bigimg {
    display: none;
  }
}

.screen2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.screen2__title {
  margin-top: 48px;
  font-size: 32px;
  line-height: 43px;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .screen2__title {
    margin-top: 80px;
    font-size: 50px;
    line-height: 68px;
  }
}
.screen2__text {
  padding: 0px 19px;
  margin-top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182.52%;
  text-align: center;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (min-width: 1041px) {
  .screen2__text {
    margin-top: 32px;
    margin-right: 66px;
    margin-left: 66px;
    font-size: 24px;
    color: rgba(1, 9, 50, 0.85);
  }
}
.screen2__img {
  margin-top: 21px;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  max-width: 1290px;
  min-height: 175px;
}
@media screen and (min-width: 1041px) {
  .screen2__img {
    margin-top: 48px;
    margin-right: 57px;
    margin-left: 92px;
    width: 95%;
  }
}

.screen3 {
  width: 100%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.screen3__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1041px) {
  .screen3__content {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
  }
}
.screen3__title {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .screen3__title {
    margin-top: 168px;
    font-size: 50px;
    line-height: 68px;
  }
}
.screen3__img {
  margin-top: 16px;
  padding-left: 19px;
  padding-right: 24px;
}
@media screen and (min-width: 1041px) {
  .screen3__img {
    padding-left: 24px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1201px) {
  .screen3__img {
    padding-left: 92px;
    padding-right: 0;
  }
}
.screen3__rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
@media screen and (min-width: 1041px) {
  .screen3__rightside {
    margin-left: 42px;
  }
}
.screen3__text {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182.52%;
  text-align: center;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (min-width: 1041px) {
  .screen3__text {
    justify-content: flex-start;
    font-size: 18px;
    line-height: 182.52%;
    text-align: left;
  }
}
@media screen and (min-width: 1201px) {
  .screen3__text {
    justify-content: flex-start;
    font-size: 24px;
    line-height: 182.52%;
    text-align: left;
  }
}
.screen3__button {
  margin-top: 24px;
  width: 147.1px;
  height: 38px;
  background: #010932;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1041px) {
  .screen3__button {
    margin-top: 40px;
    width: 193px;
    height: 62px;
  }
}
.screen3__buttontext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (min-width: 1041px) {
  .screen3__buttontext {
    font-size: 18px;
    line-height: 182.52%;
  }
}

.screen4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-top: 48px;
}
@media screen and (min-width: 1041px) {
  .screen4 {
    margin-top: 193px;
  }
}
.screen4__title {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .screen4__title {
    font-size: 50px;
    line-height: 68px;
  }
}
.screen4__content {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1041px) {
  .screen4__content {
    flex-direction: row;
    margin-top: 90px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
.screen4__leftside {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1041px) {
  .screen4__leftside {
    max-width: 555px;
    margin: 0;
  }
}
.screen4__textrow1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182.52%;
  text-align: center;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (min-width: 1041px) {
  .screen4__textrow1 {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 182.52%;
    color: rgba(1, 9, 50, 0.85);
  }
}
.screen4__rowsdivider {
  display: none;
}
@media screen and (min-width: 1041px) {
  .screen4__rowsdivider {
    display: block;
    width: 58px;
    height: 3px;
    background-color: #010932;
    margin: 58px 0px;
  }
}
.screen4__textrow2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182.52%;
  text-align: center;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (min-width: 1041px) {
  .screen4__textrow2 {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 182.52%;
    color: rgba(1, 9, 50, 0.85);
  }
}
.screen4__rightside {
  margin: 24px 23px 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1041px) {
  .screen4__rightside {
    margin: 0;
    margin-left: 82px;
  }
}

.screen5 {
  width: 100%;
}

.screen8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(1, 9, 50, 0.03);
}
.screen8__title_small {
  padding-top: 23px;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .screen8__title_small {
    display: none;
  }
}
.screen8__title_big {
  display: none;
}
@media screen and (min-width: 1041px) {
  .screen8__title_big {
    display: block;
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    color: #010932;
    max-width: 376px;
  }
}
.screen8__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
}
@media screen and (min-width: 1041px) {
  .screen8__content {
    flex-direction: row;
    align-items: start;
    margin: 80px;
    column-gap: 38px;
  }
}
.screen8__photocontainer {
  position: relative;
}
.screen8__phototext {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1041px) {
  .screen8__phototext {
    font-size: 30px;
  }
}
.screen8__phototext_big {
  font-size: 50px;
}
@media screen and (min-width: 1041px) {
  .screen8__phototext_big {
    font-size: 120px;
  }
}
.screen8__photobig {
  border-radius: 10px;
}
.screen8__photosmall {
  border-radius: 10px;
}
.screen8__photorow {
  display: flex;
  justify-content: space-between;
  column-gap: 11px;
  margin-top: 18px;
}
@media screen and (min-width: 1041px) {
  .screen8__photorow {
    margin-top: 35px;
  }
}
.screen8__rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
@media screen and (min-width: 1041px) {
  .screen8__rightside {
    align-items: flex-start;
    justify-content: start;
    margin-top: 0;
  }
}
.screen8__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182.52%;
  text-align: center;
  color: rgba(1, 9, 50, 0.85);
}
@media screen and (min-width: 1041px) {
  .screen8__text {
    margin-top: 46px;
    font-size: 18px;
    max-width: 590px;
    text-align: left;
  }
}
@media screen and (min-width: 1301px) {
  .screen8__text {
    margin-top: 46px;
    font-size: 24px;
    max-width: 590px;
    text-align: left;
  }
}
.screen8__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 38px;
  background: #010932;
  border-radius: 31px;
  column-gap: 4px;
  margin-top: 34px;
  margin-bottom: 42px;
}
@media screen and (min-width: 1041px) {
  .screen8__button {
    width: 232px;
    height: 62px;
    column-gap: 16px;
  }
}
.screen8__buttontext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (min-width: 1041px) {
  .screen8__buttontext {
    font-size: 18px;
  }
}
.screen8__buttonarrow {
  width: 17px;
}

.stories {
  background-color: #010932;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1041px) {
  .stories {
    flex-direction: row;
    align-items: start;
    column-gap: 32px;
  }
}
.stories__mobile {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1041px) {
  .stories__mobile {
    justify-items: start;
    padding-top: 40px;
    width: 100%;
  }
}
.stories__title {
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
  padding-top: 24px;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1041px) {
  .stories__title {
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
    font-size: 50px;
    line-height: 68px;
    max-width: 645px;
    text-align: left;
  }
}
.stories__content {
  display: flex;
  column-gap: 16px;
  padding-top: 28px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 1041px) {
  .stories__content {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1041px) {
  .stories__text {
    display: flex;
    flex-direction: column;
    row-gap: 51px;
    padding-left: 50px;
    padding-right: 50px;
    background: url(../images/stories-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.stories__textdescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182.52%;
  color: #FFFFFF;
}
@media screen and (min-width: 721px) {
  .stories__textdescription {
    font-size: 18px;
  }
}
@media screen and (min-width: 1041px) {
  .stories__textdescription {
    max-width: 460px;
    padding-top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    color: #FFFFFF;
  }
}
.stories__textsign {
  margin-top: 13px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
@media screen and (min-width: 721px) {
  .stories__textsign {
    font-size: 22px;
  }
}
.stories__imgbig {
  display: none;
  padding: 40px;
  padding-right: 0;
}
@media screen and (min-width: 1041px) {
  .stories__imgbig {
    display: block;
  }
}
.stories__imgsmall {
  border-radius: 12px;
  width: 94px;
  height: 140px;
}
@media screen and (min-width: 721px) {
  .stories__imgsmall {
    width: 141px;
    height: 210px;
  }
}
@media screen and (min-width: 1041px) {
  .stories__imgsmall {
    display: none;
  }
}
.stories__navigation {
  display: flex;
  justify-content: center;
}
.stories__navigationbuttons {
  display: flex;
  column-gap: 24px;
  margin-top: 40px;
  margin-bottom: 33px;
}
@media screen and (min-width: 1041px) {
  .stories__navigationbuttons {
    display: none;
  }
}

.contact {
  width: 100%;
  padding-right: 22px;
  padding-left: 18px;
}
@media screen and (min-width: 1041px) {
  .contact {
    padding-right: 82px;
    padding-left: 82px;
    padding-bottom: 160px;
    display: flex;
    column-gap: 45px;
  }
}
@media screen and (min-width: 1201px) {
  .contact {
    column-gap: 99px;
  }
}
.contact__instories {
  margin-top: 48px;
}
@media screen and (min-width: 1041px) {
  .contact__instories {
    margin-top: 160px;
  }
}
.contact__left {
  display: none;
}
@media screen and (min-width: 1041px) {
  .contact__left {
    display: block;
  }
}
.contact__info {
  margin-top: 42px;
}
@media screen and (min-width: 1041px) {
  .contact__info {
    display: flex;
    margin-top: 60px;
    column-gap: 50px;
  }
}
@media screen and (min-width: 1201px) {
  .contact__info {
    column-gap: 96px;
  }
}
.contact__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact__title {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .contact__title {
    text-align: left;
    font-size: 50px;
    line-height: 68px;
  }
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
@media screen and (min-width: 1041px) {
  .contact__form {
    row-gap: 89px;
    align-items: start;
  }
}
.contact__formelem {
  width: 100%;
}
.contact__formtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .contact__formtext {
    font-size: 24px;
  }
}
.contact__forminput {
  border: 0px;
  border-bottom: 3px solid #010932;
  width: 100%;
}
@media screen and (min-width: 1041px) {
  .contact__forminput {
    height: 40px;
  }
}
.contact__button {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 62px;
  background: #010932;
  border: 1px solid #010932;
  border-radius: 31px;
}
@media screen and (min-width: 1041px) {
  .contact__button {
    margin-top: -33px;
  }
}
.contact__buttontext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 182.52%;
  color: #FFFFFF;
}
.contact__right {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1041px) {
  .contact__right {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.contact__righttop {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
@media screen and (min-width: 1041px) {
  .contact__righttop {
    row-gap: 72px;
  }
}
.contact__rightelem {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 1041px) {
  .contact__rightelem {
    text-align-last: left;
  }
}
.contact__rightelemtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #010932;
  text-align: center;
}
@media screen and (min-width: 1041px) {
  .contact__rightelemtitle {
    font-size: 32px;
    line-height: 120%;
    text-align: left;
  }
}
.contact__rightelemtext {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 151.5%;
  color: #010932;
}
@media screen and (min-width: 1041px) {
  .contact__rightelemtext {
    font-size: 32px;
    line-height: 151.5%;
    text-align: left;
  }
}
.contact__icons {
  display: none;
}
@media screen and (min-width: 1041px) {
  .contact__icons {
    display: flex;
    justify-content: space-between;
  }
}

.header {
  height: 165px;
  background-color: #fff;
}
@media screen and (max-width: 1040px) {
  .header {
    height: 125px;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding: 36px 0px 60px 81px;
}
@media screen and (max-width: 1040px) {
  .header__content {
    padding: 37px 0px 33px 25px;
  }
}
.header__logo {
  width: 92px;
  height: 69px;
}
@media screen and (max-width: 1040px) {
  .header__logo {
    width: 74px;
    height: 55px;
  }
}
.header__menu {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 24px;
}
@media screen and (max-width: 1040px) {
  .header__menu {
    display: none;
  }
}
.header__menuelem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(8, 18, 71, 0.7);
}
.header__menuelem_selected {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #010932;
}
.header__menudivider {
  margin-right: 16px;
  height: 76px;
  width: 2px;
  background-color: rgba(8, 18, 71, 0.7);
}
.header__menucontact {
  margin-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 131px;
  height: 44px;
  border: 1px solid rgba(8, 18, 71, 0.7);
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(8, 18, 71, 0.7);
}
.header__menucontact_selected {
  background: #010932;
  border: 1px solid #010932;
  color: #FFFFFF;
}
.header__menubutton {
  margin-right: 24px;
}
@media screen and (min-width: 1041px) {
  .header__menubutton {
    display: none;
  }
}

.footer {
  background: #F2F2F4;
}
.footer__firstrow {
  display: flex;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
  gap: 15px;
  padding-top: 32px;
  padding-right: 73px;
}
.footer__menu {
  display: flex;
  gap: 40px;
  padding-top: 42.5px;
  padding-left: 78.5px;
}
.footer__menuitem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #010932;
}
.footer__secondrow {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.footer__column2 {
  margin-right: 200px;
}
.footer__column3 {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  padding-right: 80px;
  margin-bottom: 16px;
}
