@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: black;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* font-family: 'Patrick Hand', cursive;*/
/* font-family: 'Inter',sans-serif;*/
/* font-family: 'Poppins',sans-serif;*/
/* font-family: 'Roboto',sans-serif;*/
body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  background-color: aqua;
}

.openedmenu {
  display: none;
  position: fixed;
  right: 0px;
  background: linear-gradient(180deg, #000000 0%, rgba(8, 18, 71, 0.7) 100%);
  width: 315px;
  height: 100vh;
}
.openedmenu__button {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
  margin: 36px 25px 40px 0px;
}
.openedmenu__buttontext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.openedmenu__item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 16px 24px;
  width: 266px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.openedmenu__itemtext {
  padding-left: 24px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 165px;
  background-color: #fff;
}
@media screen and (max-width: 1000px) {
  .header {
    height: 125px;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding: 36px 0px 60px 81px;
}
@media screen and (max-width: 1000px) {
  .header__content {
    padding: 37px 0px 33px 25px;
  }
}
.header__logo {
  width: 92px;
  height: 69px;
}
@media screen and (max-width: 1000px) {
  .header__logo {
    width: 74px;
    height: 55px;
  }
}
.header__menubutton {
  margin-right: 24px;
}
@media screen and (min-width: 1000px) {
  .header__menubutton {
    display: none;
  }
}

.footer {
  background: #F2F2F4;
}
.footer__firstrow {
  display: flex;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
  gap: 15px;
  padding-top: 32px;
  padding-right: 73px;
}
.footer__menu {
  display: flex;
  gap: 40px;
  padding-top: 42.5px;
  padding-left: 78.5px;
}
.footer__menuitem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #010932;
}
.footer__secondrow {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.footer__column2 {
  margin-right: 200px;
}
.footer__column3 {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  padding-right: 80px;
  margin-bottom: 16px;
}
