.about {
  &__screen1 {}

  &__screen2 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

    @media screen and (min-width: 1201px) {
      padding-left: 80px;
      padding-right: 32px;
    }

    &title {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 43px;
      color: #010932;

      @media screen and (min-width: 1041px) {
        font-size: 50px;
        line-height: 68px;
      }
    }

    &content {
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      @media screen and (min-width: 1041px) {
        flex-direction: row;
        margin-top: 80px;
        row-gap: 0px;
      }
    }

    &row1 {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      @media screen and (min-width: 1041px) {
        justify-content: space-between;
        margin-top: 26px;
      }
    }

    &row2 {
      margin-left: 16px;
      margin-right: 24px;
    }

    &row3 {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      @media screen and (min-width: 1041px) {
        margin-top: 26px;
        justify-content: space-between;
        max-width: 415px;
      }
    }

    &elem {
      display: flex;
      align-items: start;
      column-gap: 6px;

      @media screen and (min-width: 1041px) {
        column-gap: 24px;
      }

      &icon {
        width: 24px;
        height: 24px;

        @media screen and (min-width: 1041px) {
          width: 42px;
          height: 42px;
        }
      }

      &text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 169.19%;
        color: #010932;

        @media screen and (min-width: 1041px) {
          font-size: 24px;
          line-height: 152.5%;
        }
      }
    }
  }

  &__screen3 {
    margin-top: 54px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
    padding-left: 17px;
    padding-right: 24px;

    @media screen and (min-width: 1041px) {
      margin-top: 112px;
      margin-bottom: 160px;
      padding-left: 65px;
      padding-right: 80px;
      row-gap: 50px;
    }

    &elem {
      display: flex;
      align-items: start;
      column-gap: 8px;

      @media screen and (min-width: 1041px) {
        column-gap: 25px;
        align-items: flex-start;
      }

      &icon {
        width: 24px;
        height: 24px;

        @media screen and (min-width: 1041px) {
          width: 56px;
          height: 56px;
        }
      }

      &text {
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 169%;
        color: #010932;

        @media screen and (min-width: 1041px) {
          padding-top: 7px;
          font-size: 24px;
          line-height: 157.02%;
        }
      }
    }

    &button {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 147.1px;
      height: 38px;
      background: #010932;
      border-radius: 31px;

      @media screen and (min-width: 1041px) {
        width: 193px;
        height: 62px;
      }

      &wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 182.52%;
        color: #FFFFFF;

        @media screen and (min-width: 1041px) {
          font-size: 18px;
          line-height: 182.52%;
        }
      }
    }

  }
}