.contact {
  width: 100%;
  padding-right: 22px;
  padding-left: 18px;

  @media screen and (min-width:1041px) {
    padding-right: 82px;
    padding-left: 82px;
    display: flex;
    column-gap: 45px;
  }

  @media screen and (min-width:1201px) {
    column-gap: 99px;
  }

  &__left {
    display: none;

    @media screen and (min-width:1041px) {
      display: block;
    }
  }

  &__info {
    margin-top: 42px;

    @media screen and (min-width:1041px) {
      display: flex;
      margin-top: 60px;
      column-gap: 50px;
    }

    @media screen and (min-width:1201px) {
      column-gap: 96px;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #010932;

    @media screen and (min-width:1041px) {
      text-align: left;
      font-size: 50px;
      line-height: 68px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;

    @media screen and (min-width:1041px) {
      row-gap: 89px;
      align-items: start;
    }

    &elem {
      width: 100%;
    }

    &text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #010932;

      @media screen and (min-width:1041px) {
        font-size: 24px;
      }
    }

    &input {
      border: 0px;
      border-bottom: 3px solid #010932;
      width: 100%;

      @media screen and (min-width:1041px) {
        height: 40px;
      }

    }

  }

  &__button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 62px;
    background: #010932;
    border: 1px solid #010932;
    border-radius: 31px;

    @media screen and (min-width:1041px) {
      margin-top: -33px;
    }

    &text {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 182.52%;
      color: #FFFFFF;
    }

  }

  &__right {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width:1041px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    &top {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 16px;

      @media screen and (min-width:1041px) {
        row-gap: 72px;
      }

    }

    &elem {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      @media screen and (min-width:1041px) {
        text-align-last: left;
      }

      &title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #010932;
        text-align: center;

        @media screen and (min-width:1041px) {
          font-size: 32px;
          line-height: 120%;
          text-align: left;
        }
      }

      &text {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 151.5%;
        color: #010932;

        @media screen and (min-width:1041px) {
          font-size: 32px;
          line-height: 151.5%;
          text-align: left;
        }
      }

    }
  }

  &bottom {}

  &__icons {
    display: none;

    @media screen and (min-width:1041px) {
      display: flex;
      justify-content: space-between;
    }
  }

}