.footer {
  background: #F2F2F4;
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-top: 40px;
    padding-left: 24px;

    &elem {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #010932;
    }
  }

  &__rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    padding-right: 15px;
  }

  &__icons {
    display: flex;
    column-gap: 15px;


    &elem {
      width: 40px;
      height: 40px;
    }
  }

  &__logo {
    &small {
      width: 99px;
      height: 74px;
      padding-bottom: 2px;
      padding-right: 4px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    column-gap: 46px;
    padding-top: 61px;
    padding-right: 23px;
    padding-bottom: 32px;
  }

}