.header {
  height: 165px;
  background-color: #fff;

  @media screen and (max-width:1000px) {
    height: 125px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 36px 0px 60px 81px;

    @media screen and (max-width:1000px) {
      padding: 37px 0px 33px 25px;
    }
  }

  &__logo {

    width: 92px;
    height: 69px;

    @media screen and (max-width:1000px) {
      width: 74px;
      height: 55px;
    }

  }

  &__menubutton {

    margin-right: 24px;

    @media screen and (min-width:1000px) {
      display: none;
    }
  }

}