.home {

  &__screen1 {
    background: url(./img/screen1dark.jpg);
    background-size: cover;



    &content {
      display: flex;
      top: 0px;
      left: 0px;

      @media screen and (max-width:1050px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      &leftside {
        margin-top: 117px;
        margin-left: 80px;
        margin-bottom: 117px;

        @media screen and (max-width:1050px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 40px;
        }
      }

      &rightside {
        margin: 55px 6.6% 55px 38px;

        @media screen and (max-width:1050px) {
          margin: 40px;
          display: flex;
          justify-content: center;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;

          @media screen and (max-width:1050px) {
            width: 100%;
          }
        }
      }

      &title {
        font-family: 'Patrick Hand';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 68px;
        color: #FFFFFF;

        @media screen and (max-width:1050px) {
          text-align: center;
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
        }
      }

      &text {
        margin-top: 42px;
        max-width: 778px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 182.52%;
        color: #FFFFFF;

        @media screen and (max-width:1050px) {
          font-weight: 600;
          font-size: 12px;
          line-height: 182.52%;
          text-align: center;
          color: #FFFFFF;
          max-width: 350px;
        }
      }

    }

    &buttons {
      margin-top: 48px;
      display: flex;
      gap: 40px;
    }

    &button1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 62px;
      background: #FFFFFF;
      border-radius: 31px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 182.52%;
      color: #010932;

      &arrow {
        @media screen and (max-width:1050px) {
          width: 9px;
          height: 10px;
        }
      }

      @media screen and (max-width:1050px) {
        width: 147px;
        height: 38px;
        font-weight: 600;
        font-size: 12px;
        line-height: 182.52%;
        color: #010932;
      }
    }

    &button2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 193px;
      height: 62px;
      left: 361px;
      top: 512px;
      border: 1px solid #FFFFFF;
      border-radius: 31px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 182.52%;
      color: #FFFFFF;

      @media screen and (max-width:1050px) {
        width: 147px;
        height: 38px;
        font-weight: 600;
        font-size: 12px;
        line-height: 182.52%;
        color: #FFFFFF;
      }
    }

  }

  &__screen2 {
    margin-left: 92px;
    margin-right: 57px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    &title {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
      margin-top: 32px;
      text-align: center;
    }

    &text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 182.52%;
      text-align: center;
      color: rgba(1, 9, 50, 0.85);
      max-width: 1300PX;
    }

    &photos {
      margin-top: 48px;
      display: flex;
      justify-content: center;
    }

  }

  &__screen3 {
    margin-left: 92px;
    margin-right: 57px;
    margin-top: 168px;

    &title {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
      text-align: center;
    }

    &content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 42px;
      margin-top: 75px;
    }

    &rightside {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 182.52%;
      color: rgba(1, 9, 50, 0.85);
      max-width: 554px;
    }

    &button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      background: #010932;
      border: 1px solid #010932;
      border-radius: 31px;
      width: 193px;
      height: 62px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 182.52%;
      color: #FFFFFF;
    }

  }

  &__screen4 {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 193px;

    &title {
      text-align: center;
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
    }

    &content {
      display: flex;
      justify-content: center;
      gap: 82px;
      margin-top: 90px;
    }

    &leftside {
      max-width: 555px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 182.52%;
      color: rgba(1, 9, 50, 0.85);

      &divider {
        width: 60px;
        height: 3px;
        background-color: #010932;
        margin: 52px 0px;
      }

    }

  }

  &__screen5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 312px;
    background: url(./img/screen5bcg.jpg);
    background-size: cover;

    &title {
      text-align: center;
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
      margin-top: 48px;
      max-width: 645px;
    }

    &content {
      margin-top: 66px;
      margin-bottom: 90px;
      display: flex;
      column-gap: 60px;

      &rightside {
        display: flex;
        flex-direction: column;
        align-items: start;
      }

    }

    &text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 182.52%;
      color: rgba(1, 9, 50, 0.85);
      max-width: 600px;
    }

    &elem {

      margin-top: 24px;
      display: flex;
      column-gap: 24px;

      &text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 182.52%;
        color: rgba(1, 9, 50, 0.85);
      }

    }

  }

  &__screen6 {

    &title {
      margin-top: 175px;
      text-align: center;
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
    }

    &content {
      margin-top: 97px;
      margin-left: 90px;
      margin-right: 98px;
      border: 2px solid rgba(1, 9, 50, 0.4);
      border-radius: 15px;
    }

    &mainimg {
      position: relative;

      &text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        color: white;
        font-family: 'Patrick Hand';
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 162px;
        color: #FFFFFF;
      }

    }

    &subimages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 40px 40px;
      gap: 40px;
    }

    &subimg {
      position: relative;

      &text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        font-family: 'Patrick Hand';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
      }

    }

  }

  &__screen7 {

    &title {
      margin-top: 175px;
      text-align: center;
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
    }

    &content {
      margin-top: 97px;
      margin-left: 90px;
      margin-right: 98px;
      border: 2px solid rgba(1, 9, 50, 0.4);
      border-radius: 15px;
    }

    &mainimg {
      position: relative;

      &text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        color: white;
        font-family: 'Patrick Hand';
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 162px;
        color: #FFFFFF;
      }

    }

    &subimages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 40px 40px;
      gap: 40px;
    }

    &subimg {
      position: relative;

      &text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        font-family: 'Patrick Hand';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
      }

    }

  }

  &__screen8 {
    background-color: rgba(1, 9, 50, 0.03);
    margin-top: 160px;
    display: flex;
    column-gap: 38px;

    &content {
      padding: 80px;
    }

    &rightside {
      max-width: 590px;
    }

    &title {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #010932;
    }

    &text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 182.52%;
      color: rgba(1, 9, 50, 0.85);
    }

    &button {
      margin-top: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 232px;
      height: 62px;
      background: #010932;
      border-radius: 31px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 182.52%;
      color: #FFFFFF;
    }

  }

}