.screen6 {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-top: 48px;
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #010932;
  }

  &__content {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    border: 1px solid rgba(1, 9, 50, 0.4);
    border-radius: 7px;
  }

  &__photo {
    &main {
      position: relative;

      &img {
        min-height: 97px;
      }

      &text {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        font-family: 'Patrick Hand';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;

        color: #FFFFFF;
      }
    }

    &row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 24px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 24px;
      column-gap: 26px;
      row-gap: 16px;

      &elem {
        position: relative;

        &img {
          width: 142.57px;
          height: 82.46px;
          border-radius: 10px;
        }

        &text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Patrick Hand';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #FFFFFF;
        }

      }
    }
  }

}