.screen1 {
  width: 100%;
  background-image: url(../images/home-bgimg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width:1041px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__leftside {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1041px) {
      align-items: flex-start;
      margin: 117px 10px 117px 20px;
    }

    @media screen and (min-width:1200px) {
      align-items: flex-start;
      margin: 117px 30px 117px 80px;
    }
  }

  &__title {
    text-align: center;
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 16px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 8px;

    @media screen and (min-width:1041px) {
      text-align: left;
      align-items: flex-start;
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      color: #FFFFFF;
    }
  }

  &__smallimg {
    @media screen and (min-width:1041px) {
      display: none;
    }
  }

  &__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 182.52%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 3px;
    padding-right: 24px;
    padding-left: 24px;

    @media screen and (min-width:1041px) {
      margin-top: 42px;
      text-align: left;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 182.52%;
      color: #FFFFFF;
      max-width: 800px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    padding: 18px 24px 33px 24px;

    @media screen and (min-width:1041px) {
      column-gap: 40px;
      margin-top: 48px;
    }

    &left {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 182.52%;
      color: #010932;
      width: 147.1px;
      height: 38px;
      background: #FFFFFF;
      border-radius: 31px;
      column-gap: 8%;

      @media screen and (min-width:1041px) {
        width: 240px;
        height: 62px;
        font-size: 18px;
      }
    }

    &right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 147.1px;
      height: 38px;
      border: 1px solid #FFFFFF;
      border-radius: 31px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 182.52%;
      color: #FFFFFF;

      @media screen and (min-width:1041px) {
        width: 193px;
        height: 62px;
        font-size: 18px;
        color: #FFFFFF;
      }
    }
  }

  &__bigimg {
    margin: 32px 70px 24px 0px;
    width: 470px;
    max-height: 470px;

    @media screen and (max-width:1040px) {
      display: none;
    }
  }

}